body {
  font-size: 1.5em;
  font-family: sans-serif;
}
header {
  font-size: calc(1rem + 0.5vw);
  position: fixed;
  color: white;
  vertical-align: middle;
  width: 100%;
  height: 150px;
  background: rgb(76, 76, 248);
  text-align: center;
}

section {
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 0.9em;
}
p {
  font-size: 0.8em;
}
form {
  margin-bottom: 30px;
}
.button-box {
  margin: 10px;
}
.exercise-box__container-button {
  display: flex;
}
.exercise-box {
  width: 1200px;
  height: 600px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exercise-box__short {
  height: 350px;
}
.exercise-box__validate-container {
  display: flex;
}

.exercise-title {
  text-align: justify;
  margin-bottom: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
input {
  width: 470px;
  height: 50px;
  border: 1px solid silver;
  border-radius: 30px;
  text-align: center;
}

button {
  color: white;
  background: none;
  border: 1px solid silver;
  border-radius: 30px;
  background: rgb(123, 123, 247); */
}
input:focus,
button:active {
  outline: none;
  box-shadow: 0 0 0 4px rgba(76, 76, 248, 0.5);
}
button:active {
  transform: translateY(-2px);
}

.box-1,
.exercise-box {
  border: 1px solid silver;
}
.box-1 {
  width: 820px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 30px;
}
.capicua-box {
  width: 870px;
}
.validate-box {
  width: 400px;
  margin-left: 50px;
}
.par-title {
  margin-right: 20px;
}
.error-box {
  width: 900px;
}
